@using CineMagic.Web.ViewModels.Directors
@model DirectorsAlphabetPaginationViewModel

@{
    this.ViewData["Title"] = "Directors";
}

@{
    int counter = 1;

    if (Model.Directors.PageNumber > 1)
    {
        counter = Model.Directors.PageNumber * 20 - 19;
    }
}

<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a><i>//</i></li>
            <li class="active">@this.ViewData["Title"]</li>
        </ul>
    </div>
</div>

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">

        <div class="inner-agile-w3l-part-head">
            <h3 class="w3l-inner-h-title">Directors List</h3>
            <p class="w3ls_head_para">From A To Z</p>
        </div>

        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                @foreach (var letter in Model.AlphabetPagingViewModel.Alphabet)
                {
                    if (Model.AlphabetPagingViewModel.SelectedLetter == letter ||
                        (string.IsNullOrEmpty(Model.AlphabetPagingViewModel.SelectedLetter) && letter == "All"))
                    {
                        <li class="active"><a asp-action="All" asp-route-letter="@letter">@letter</a></li>
                    }
                    else
                    {
                        <li><a asp-action="All" asp-route-letter="@letter">@letter</a></li>
                    }
                }
            </ul>

            <h4 class="side-t-w3l-agile">Search By <span>Name</span></h4>
            <div class="side-bar-form">
                <form asp-action="All" method="get">
                    <input type="search" name="SearchByName" placeholder="Search here...." value="@Model.SearchString">
                    <input type="submit" value=" ">
                </form>
            </div>
            <div class="w3ls-news-result">
                <h4>Results Returned: <span>@Model.Directors.Count</span></h4>
            </div>

            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        <p><i>You can also type something in the input field below to filter the current page directors:</i></p>
                        <input id="myInput" type="text">
                        <br><br>
                        <table id="table-breakpoint">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Birthday</th>
                                    <th>Deathday</th>
                                    <th>Birthplace</th>
                                    <th>Popularity</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                @foreach (var director in Model.Directors)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td class="w3-list-img"><a asp-action="Details" asp-route-id="@director.Id"><img src="@director.ProfilePicPath" /> <span>@director.Name</span></a></td>
                                        <td>@director.Age</td>
                                        <td>
                                            @if (director.Birthday.HasValue)
                                            {
                                                @director.Birthday.Value.ToString("MMM d, yyyy")
                                            }
                                        </td>
                                        <td>
                                            @if (director.Deathday.HasValue)
                                            {
                                                @director.Deathday.Value.ToString("MMM d, yyyy")
                                            }
                                        </td>
                                        <td>@director.Birthplace</td>
                                        <td>@director.Popularity.ToString("f2")</td>
                                        <td>
                                    </tr>

                                    counter++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Directors.TotalPages > 1)
{
    <div class="blog-pagenat-wthree">
        <ul class="pagination">
            <li class="page-item @if (!Model.Directors.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="All" asp-route-letter="@Model.AlphabetPagingViewModel.SelectedLetter">First</a>
            </li>
            <li class="page-item @if (!Model.Directors.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="All" asp-route-letter="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@Model.Directors.PreviousPage">Previous</a>
            </li>
            @for (int i = Model.Directors.PageNumber - 3; i < Model.Directors.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="All" asp-route-name="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.Directors.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.Directors.PageNumber + 1; i <= Model.Directors.PageNumber + 3; i++)
            {
                if (i <= Model.Directors.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="All" asp-route-name="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item @if (!Model.Directors.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="All" asp-route-name="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@Model.Directors.NextPage">Next</a>
            </li>
            <li class="page-item @if (!Model.Directors.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="All" asp-route-name="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@Model.Directors.TotalPages">Last</a>
            </li>
        </ul>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}