@using CineMagic.Web.Infrastructure
@using CineMagic.Web.ViewModels.Directors
@model DirectorSinglePageListViewModel

@{
    this.ViewData["Title"] = "Directors";

    var userId = this.User.GetId();

    void DisplayComments(int? parentId)
    {
        var comments = this.Model.Director.Comments.OrderByDescending(x => x.CreatedOn).Where(x => x.ParentId == parentId);

        if (!comments.Any())
        {
            return;
        }

        @foreach (var comment in comments)
        {
            <div class="media response-info">
                <div class="media-left response-text-left">
                    <a href="#">
                        <img class="media-object" src="/images/no-user-profile-pic.jpg" alt="">
                    </a>
                    <h5><a href="#">@comment.UserUsername</a></h5>
                </div>
                <div class="media-body response-text-right">
                    <p>
                        @comment.Content
                    </p>
                    <ul>
                        <li>
                            <time datetime="@comment.CreatedOn.ToString("O")"></time>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li><a href="#" onclick="showCommentForm(@comment.Id)"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a></li>
                        }
                    </ul>
                    @{ DisplayComments(comment.Id); }
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    }
}

<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a><i>//</i></li>
            <li><a asp-controller="Directors" asp-action="All">@this.ViewData["Title"]</a><i>//</i></li>
            <li class="active">@Model.Director.Name</li>
        </ul>
    </div>
</div>

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">

        <div class="inner-agile-w3l-part-head">
            <h3 class="w3l-inner-h-title">@Model.Director.Name</h3>
        </div>

        <div class="latest-news-agile-info">
            <div class="col-md-8 latest-news-agile-left-content">
                <div class="single video_agile_player">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div><img src="@Model.Director.ProfilePicPath" class="img-responsive" /></div>
                        </div>
                        <div class="col-md-6">
                            <p class="text-left"><strong>Popularity: </strong>@Model.Director.Popularity.ToString("f2")</p>
                            <p class="text-left"><strong>Known For: </strong>Directing</p>
                            <p class="text-left"><strong>Known Credits: </strong>@Model.Director.KnownCredits</p>
                            <p class="text-left"><strong>Gender: </strong>@Model.Director.Gender</p>
                            @if (Model.Director.Birthday != null)
                            {
                                <p class="text-left">
                                    <strong>Birthday: </strong>@Model.Director.Birthday.Value.ToString("MMM d, yyyy")
                                    @if (Model.Director.Deathday == null)
                                    {<text>(@Model.Director.Age years old)</text>}
                                </p>
                            }
                            else
                            {
                                <p class="text-left">
                                    <strong>Birthday: </strong>
                                </p>
                            }
                            @if (Model.Director.Deathday != null)
                            {
                                <p class="text-left">
                                    <strong>Deathday: </strong>@Model.Director.Deathday.Value.ToString("MMM d, yyyy")
                                    @if (Model.Director.Birthday != null)
                                    {<text>(@Model.Director.Age years old)</text>}
                                </p>
                            }
                            <p class="text-left"><strong>Birthplace: </strong>@Model.Director.Birthplace</p>
                            <p class="addReadMore showlesscontent text-left">@Model.Director.Biography</p>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>

                <h4 class="side-t-w3l-agile">Known <span>For</span></h4>
                <div class="w3_agile_latest_movies">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        @foreach (var movie in Model.Director.Movies)
                        {
                            <di class="item">
                                <div class="w3l-movie-gride-agile w3l-movie-gride-slider ">
                                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="hvr-sweep-to-bottom">
                                        <img src="@movie.PosterPath" title="@movie.Title" class="img-responsive" />
                                    </a>
                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                        <div class="w3l-movie-text " style="height:45px;">
                                            <h6><a style="font-weight:bold;" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </di>
                        }
                    </div>
                </div>

                @*<div class="admin-text">
                        <h5>WRITTEN BY ADMIN</h5>
                        <div class="admin-text-left">
                            <a href="#"><img src="images/admin.jpg" alt=""></a>
                        </div>
                        <div class="admin-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <span>View all posts by :<a href="#"> Admin </a></span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>*@

                <div class="response">
                    <h4>Comments</h4>
                    @if (!Model.Director.Comments.Any())
                    {
                        <div><i>No comments for this director yet.</i></div>
                        <div><i>Be the first to share what you think!</i></div>
                    }
                    <br />

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="px-4 pt-3">
                            <button type="button" class="btn btn-add-comment float-right" onclick="showCommentForm(0)">
                                <i class="fa fa-plus"></i>&nbsp; Comment
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="px-4 pt-3">
                            <button type="button" class="btn btn-add-comment float-right" data-toggle="modal" data-target="#myModal4">
                                <i class="fa fa-plus"></i>&nbsp; Comment
                            </button>
                        </div>
                    }

                    <div class="all-comments-info" id="CommentForm" style="display: none">
                        <h5>LEAVE A COMMENT</h5>
                        <div class="agile-info-wthree-box">
                            <form asp-controller="Comments" asp-action="CreateDirectorComment" method="post">
                                <div class="col-md-6 form-info">
                                    <textarea name="Content" placeholder="Message" required=""></textarea>
                                    <input type="submit" value="SEND">
                                </div>
                                <div class="col-md-6 form-info">
                                    <input type="hidden" name="DirectorId" value="@Model.Director.Id">
                                    <input type="hidden" name="UserId" value="@userId">
                                    <input type="hidden" name="ParentId" value="0" />
                                </div>
                                <div class="clearfix"> </div>
                            </form>
                        </div>
                    </div>

                    @{ DisplayComments(null); }

                </div>
            </div>

            <div class="col-md-4 latest-news-agile-right-content">
                <h4 class="side-t-w3l-agile">Search By <span>Name</span></h4>
                <div class="side-bar-form">
                    <form asp-controller="Search" asp-action="ActorsSearch" method="get">
                        <input type="search" name="Name" placeholder="Search here...." required="required">
                        <input type="submit" value=" ">
                    </form>
                </div>

                <div class="agile-info-recent">
                    @if (Model.Director.Gender == "Male")
                    {
                        <h4 class="side-t-w3l-agile">His Highest-Grossing <span>Movies</span></h4>
                    }
                    else
                    {
                        <h4 class="side-t-w3l-agile">Her Highest-Grossing <span>Movies</span></h4>
                    }
                    <br />
                    <div class="w3ls-recent-grids">
                        @foreach (var movie in Model.Movies)
                        {
                            <div class="w3l-recent-grid">
                                <div class="wom" style="margin:unset">
                                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><img src="@movie.PosterPath" alt=" " class="img-responsive"></a>
                                </div>
                                <div class="wom-right">
                                    <h5><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></h5>
                                    <p>@movie.Tagline</p>
                                    <br />
                                    <ul class="w3l-sider-list">
                                        <li><i class="fa fa-usd" style="color:green" aria-hidden="true"></i>@movie.Revenue.ToString("#,##")</li>
                                        @*<li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>*@
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <br />
                        }
                    </div>
                </div>

                @*<h4 class="side-t-w3l-agile">
                        Hot <span>Topics</span>
                    </h4>
                    <ul class="side-bar-agile">
                        <li><a href="single.html">John Abraham, Sonakshi Sinha and Tahir ...</a><p>Sep 29, 2016</p></li>
                        <li><a href="single.html">Romantic drama about two people finding out that love</a><p>Feb 3, 2016</p></li>
                        <li><a href="single.html">Storks have moved on from delivering babies to packages ...</a><p>Aug 1, 2016</p></li>
                        <li><a href="single.html">John Abraham, Sonakshi Sinha and Tahir ...</a><p>Sep 29, 2016</p></li>
                        <li><a href="single.html">John Abraham, Sonakshi Sinha and Tahir ...</a><p>Sep 29, 2016</p></li>
                    </ul>*@

                <div class="clearfix"> </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function AddReadMore() {
            var paragraph = document.querySelector('.addReadMore');
            var bioText = paragraph.textContent;
            paragraph.innerHTML = '<strong>Biography: </strong>' + bioText.substring(0, 500) + '<a style="cursor:pointer"> ... Read More</a>';

            paragraph.querySelector('a').addEventListener('click', onClick);

            function onClick(ev) {
                if (ev.target.textContent == ' ... Read More') {
                    paragraph.innerHTML = '<strong>Biography: </strong>' + bioText.replace("Biography: ", "") + '<a style="cursor:pointer"> Read Less</a>';
                }
                else {
                    paragraph.innerHTML = '<strong>Biography: </strong>' + bioText.substring(0, 500) + '<a style="cursor:pointer"> ... Read More</a>';
                }

                paragraph.querySelector('a').addEventListener('click', onClick);
            }
        }

        AddReadMore();
    </script>

    <script>
        function showCommentForm(parentId) {
            $("#CommentForm input[name='ParentId']").val(parentId);
            $("#CommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#CommentForm").offset().top
            }, 1000);
        }
    </script>
}