@using CineMagic.Data.Models.Enums
@using CineMagic.Web.ViewModels.Directors
@model DirectorsGenderFilterPagingViewModel

@{
    this.ViewData["Title"] = "Directors";
}

@{
    var counter = 1;

    if (Model.Directors.PageNumber > 1)
    {
        counter = Model.Directors.PageNumber * 10 - 9;
    }
}

<hr />
<div class="inner-agile-w3l-part-head">
    <h3 class="w3l-inner-h-title">Most Popular Directors</h3>
    <p class="w3ls_head_para">Top 50</p>
</div>

<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
        @foreach (Gender gender in Enum.GetValues(typeof(Gender)))
        {
            if (Model.Gender == gender)
            {
                <li class="active">
                    <a asp-action="MostPopularDirectors" asp-route-gender="@((int)gender)">@gender.ToString()</a>
                </li>
            }
            else
            {
                <li>
                    <a asp-action="MostPopularDirectors" asp-route-gender="@((int)gender)">@gender.ToString()</a>
                </li>
            }
        }
    </ul>
</div>

<div class="wthree_agile-requested-movies">
    @foreach (var person in Model.Directors)
    {
        <div class="col-md-2 w3l-movie-gride-agile requested-movies">
            <a asp-controller="Directors" asp-action="Details" asp-route-id="@person.Id" class="hvr-sweep-to-bottom">
                <img src="@person.ProfilePicPath" title="@person.Name" class="img-responsive">
                <div class="w3l-action-icon"></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
                <div class="w3l-movie-text">
                    <h6><a class="text-left" asp-controller="Directors" asp-action="Details" asp-route-id="@person.Id">@counter. @person.Name</a></h6>
                </div>
            </div>
            @if (person.Gender == "Male")
            {
                <div class="ribben one male">
                    <p>@person.Popularity.ToString("f2")</p>
                </div>
            }
            else
            {
                <div class="ribben one female">
                    <p>@person.Popularity.ToString("f2")</p>
                </div>
            }
        </div>

        counter++;
    }
    <div class="clearfix"></div>
</div>

@if (Model.Directors.TotalPages > 1)
{
    <div class="blog-pagenat-wthree">
        <ul class="pagination">
            <li class="page-item @if (!Model.Directors.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="MostPopularDirectors" asp-route-gender="@((int)Model.Gender)">First</a>
            </li>
            <li class="page-item @if (!Model.Directors.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="MostPopularDirectors" asp-route-gender="@((int)Model.Gender)" asp-route-page="@Model.Directors.PreviousPage">Previous</a>
            </li>
            @for (int i = Model.Directors.PageNumber - 3; i < Model.Directors.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="MostPopularDirectors" asp-route-gender="@((int)Model.Gender)" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.Directors.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.Directors.PageNumber + 1; i <= Model.Directors.PageNumber + 3; i++)
            {
                if (i <= Model.Directors.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="MostPopularDirectors" asp-route-gender="@((int)Model.Gender)" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item @if (!Model.Directors.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="MostPopularDirectors" asp-route-gender="@((int)Model.Gender)" asp-route-page="@Model.Directors.NextPage">Next</a>
            </li>
            <li class="page-item @if (!Model.Directors.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="MostPopularDirectors" asp-route-gender="@((int)Model.Gender)" asp-route-page="@Model.Directors.TotalPages">Last</a>
            </li>
        </ul>
    </div>
}