@using CineMagic.Web.ViewModels.Movies
@model PaginatedList<MovieStandartViewModel>
@{
    ViewData["Title"] = "Genres";
}

<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a><i>//</i></li>
            <li class="active">Genre</li>
        </ul>
    </div>
</div>

<hr />
<div class="inner-agile-w3l-part-head">
    <h3 class="w3l-inner-h-title">@this.TempData["GenreName"]</h3>
    <p class="w3ls_head_para">Movies by Genre</p>
</div>

<div class="wthree_agile-requested-movies">
    @foreach (var movie in Model)
    {
        <div class="col-md-2 w3l-movie-gride-agile requested-movies">
            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="hvr-sweep-to-bottom">
                <img src="@movie.PosterPath" title="@movie.Title" class="img-responsive">
                <div class="w3l-action-icon"></div>
            </a>
            <div class="mid-1 agileits_w3layouts_mid_1_home">
                <div class="w3l-movie-text" style="height:45px;">
                    <h6><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></h6>
                </div>
                <div class="mid-2 agile_mid_2_home">
                    <p>@movie.ReleaseDate.Year</p>
                    <div class="block-stars">
                        <ul class="w3l-ratings">
                            <li data-rate="1"><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li data-rate="2"><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                            <li data-rate="3"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                            <li data-rate="4"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                            <li data-rate="5"><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            @if (movie.ReleaseDate.Year == DateTime.Now.Year)
            {
                <div class="ribben one">
                    <p>NEW</p>
                </div>
            }
        </div>
    }
    <div class="clearfix"></div>
</div>

@if (Model.TotalPages > 1)
{
    <div class="blog-pagenat-wthree">
        <ul class="pagination">
            <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-controller="Genres" asp-action="ByName" asp-route-name="@this.TempData["GenreName"]" asp-route-page="@Model.PreviousPage">Previous</a>
            </li>
            @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Genres" asp-action="ByName" asp-route-name="@this.TempData["GenreName"]" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
            {
                if (i <= Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Genres" asp-action="ByName" asp-route-name="@this.TempData["GenreName"]" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item @if (!Model.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-controller="Genres" asp-action="ByName" asp-route-name="@this.TempData["GenreName"]" asp-route-page="@Model.NextPage">Next</a>
            </li>
        </ul>
    </div>
}
