@using CineMagic.Web.ViewModels.Movies
@model MoviesAlphabetPaginationViewModel

@{
    this.ViewData["Title"] = "Movies";
}

@{
    int counter = 1;

    if (Model.Movies.PageNumber > 1)
    {
        counter = Model.Movies.PageNumber * 20 - 19;
    }
}

<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a><i>//</i></li>
            <li class="active">All Movies</li>
        </ul>
    </div>
</div>

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <!---728x90--->

        <div class="inner-agile-w3l-part-head">
            <h3 class="w3l-inner-h-title">Movie List</h3>
            <p class="w3ls_head_para">From A To Z</p>
        </div>

        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                @foreach (var letter in Model.AlphabetPagingViewModel.Alphabet)
                {
                    if (Model.AlphabetPagingViewModel.SelectedLetter == letter ||
                        (string.IsNullOrEmpty(Model.AlphabetPagingViewModel.SelectedLetter) && letter == "All"))
                    {
                        <li class="active"><a asp-action="All" asp-route-letter="@letter">@letter</a></li>
                    }
                    else
                    {
                        <li><a asp-action="All" asp-route-letter="@letter">@letter</a></li>
                    }
                }
            </ul>

            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        <div class="w3ls-news-result">
                            <h4>Search Results : <span>25</span></h4>
                        </div>
                        <table id="table-breakpoint">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Title</th>
                                    <th>Director</th>
                                    <th>Genre</th>
                                    <th>Year</th>
                                    <th>Runtime</th>
                                    <th>Language</th>
                                    <th>Country</th>
                                    <th>Budget</th>
                                    <th>Revenue</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var movie in Model.Movies)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td class="w3-list-img"><a href="single.html"><img src="@movie.PosterPath" /> <span>@movie.Title</span></a></td>
                                        <td>@movie.DirectorName</td>
                                        <td class="w3-list-info">@string.Join(", ", movie.Genres.Select(x => x.GenreName))</td>
                                        <td>@movie.ReleaseDate.Year</td>
                                        <td>@movie.Runtime min</td>
                                        <td>@movie.Language</td>
                                        <td class="w3-list-info">@string.Join(", ", movie.ProductionCountries.Select(x => x.CountryName))</td>
                                        <td>@movie.Budget</td>
                                        <td>@movie.Revenue</td>
                                        <td>@movie.CurrentAverageVote</td>
                                    </tr>

                                    counter++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Movies.TotalPages > 1)
{
    <div class="blog-pagenat-wthree">
        <ul class="pagination">
            <li class="page-item @if (!Model.Movies.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="All" asp-route-letter="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@Model.Movies.PreviousPage">Previous</a>
            </li>
            @for (int i = Model.Movies.PageNumber - 3; i < Model.Movies.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="All" asp-route-name="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.Movies.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.Movies.PageNumber + 1; i <= Model.Movies.PageNumber + 3; i++)
            {
                if (i <= Model.Movies.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="All" asp-route-name="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item @if (!Model.Movies.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="All" asp-route-name="@Model.AlphabetPagingViewModel.SelectedLetter" asp-route-page="@Model.Movies.NextPage">Next</a>
            </li>
        </ul>
    </div>
}
