@using CineMagic.Web.Infrastructure
@using CineMagic.Web.ViewModels.Movies
@inject CineMagic.Services.Data.Contracts.IRatingsService RatingsService
@model MovieSinglePageViewModel

@{
    this.ViewData["Title"] = "Details";

    var userId = this.User.GetId();
    var getMovieRating = await RatingsService.GetUserRatingAsync(Model.Id, userId);
}

<div class="w3_breadcrumb">
    <div class="breadcrumb-inner">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a><i>//</i></li>
            <li><a asp-controller="Movies" asp-action="All">All Movies</a><i>//</i></li>
            <li class="active">@Model.Title</li>
        </ul>
    </div>
</div>

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">

        <div class="inner-agile-w3l-part-head">
            <h3 class="w3l-inner-h-title">@Model.Title (@Model.ReleaseDate.Year)</h3>
            <p class="w3ls_head_para">@Model.Tagline</p>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="rating-enabled"></div><span id="averageRating">@Model.Rating.ToString("f2")</span><span> / 5.00</span>
            }
            else
            {
                <div class="rating-disabled" data-toggle="modal" data-target="#myModal4"></div><span id="averageRating">@Model.Rating.ToString("f2")</span><span> / 5.00</span>
            }
        </div>

        <div class="latest-news-agile-info">
            <div class="col-md-8 latest-news-agile-left-content">
                <div class="single video_agile_player">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div data-video="@Model.TrailerPath" id="video"> <img src="@Model.PosterPath" class="img-responsive" /></div>
                        </div>
                        <div class="col-md-6">
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                if (Model.WatchlistUsers.Contains(userId))
                                {
                                    <a asp-controller="Movies" asp-action="RemoveFromWatchlist" asp-route-movieId="@Model.Id" class="watchlist_remove">Remove from Watchlist</a>
                                }
                                else
                                {
                                    <a asp-controller="Movies" asp-action="AddToWatchlist" asp-route-movieId="@Model.Id" class="watchlist_add">Add to Watchlist</a>
                                }
                            }
                            else
                            {
                                <a href="#" class="watchlist_add" data-toggle="modal" data-target="#myModal4">Add to Watchlist</a>
                            }
                            <p class="text-left" style="color:red"><i class="fa fa-clock-o" title="Edit"></i> @Model.Runtime min </p>
                            <p class="text-left"><strong>Genre: </strong>@string.Join(", ", Model.Genres.Select(x => x.GenreName))</p>
                            <p class="text-left"><strong>Director: </strong>@Model.DirectorName</p>
                            <p class="text-left"><strong>IMDB: </strong><a href="@Model.IMDBLink">Link to IMDB</a> </p>
                            <p class="text-left"><strong>Language: </strong>@Model.Language</p>
                            <p class="text-left"><strong>Country: </strong>@string.Join(", ", Model.ProductionCountries.Select(x => x.CountryName))</p>
                            <p class="text-left"><strong>Budget: </strong>$@Model.Budget.ToString("#,##")</p>
                            <p class="text-left"><strong>Revenue: </strong>$@Model.Revenue.ToString("#,##")</p>
                            <p class="addReadMore showlesscontent text-left">
                                @if (Model.Overview.Length < 600)
                                {
                                    <strong>Overview: </strong>
                                }
                                @Model.Overview
                            </p>
                        </div>
                    </div>
                    <hr />
                </div>

                <h4 class="side-t-w3l-agile">Top Billed <span>Cast</span></h4>
                <div class="w3_agile_latest_movies">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        @foreach (var actor in Model.Cast)
                        {
                            <di class="item">
                                <div class="w3l-movie-gride-agile w3l-movie-gride-slider ">
                                    <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId" class="hvr-sweep-to-bottom">
                                        <img src="@actor.ActorProfilePicPath" title="@actor.ActorName" class="img-responsive" alt=" " />
                                    </a>
                                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                                        <div class="w3l-movie-text " style="height:45px;">
                                            <h6><a style="font-weight:bold;" asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.ActorName</a></h6>
                                            <h6><a>@actor.CharacterName</a></h6>
                                        </div>
                                    </div>
                                </div>
                            </di>
                        }
                    </div>
                </div>

                <div class="admin-text">
                    <h5>WRITTEN BY ADMIN</h5>
                    <div class="admin-text-left">
                        <a href="#"><img src="images/admin.jpg" alt=""></a>
                    </div>
                    <div class="admin-text-right">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <span>View all posts by :<a href="#"> Admin </a></span>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="response">
                    <h4>Responses</h4>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/admin.jpg" alt="">
                            </a>
                            <h5><a href="#">Admin</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.There are many variations of passages of Lorem Ipsum available.
                            </p>
                            <ul>
                                <li>October 15, 2016</li>
                                <li><a href="single.html"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a></li>
                            </ul>
                            <div class="media response-info">
                                <div class="media-left response-text-left">
                                    <a href="#">
                                        <img class="media-object" src="images/admin.jpg" alt="">
                                    </a>
                                    <h5><a href="#">Admin</a></h5>
                                </div>
                                <div class="media-body response-text-right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.There are many variations of passages of Lorem Ipsum available.
                                    </p>
                                    <ul>
                                        <li>November 02, 2016</li>
                                        <li><a href="single.html"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="media response-info">
                        <div class="media-left response-text-left">
                            <a href="#">
                                <img class="media-object" src="images/admin.jpg" alt="">
                            </a>
                            <h5><a href="#">Admin</a></h5>
                        </div>
                        <div class="media-body response-text-right">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.There are many variations of passages of Lorem Ipsum available.
                            </p>
                            <ul>
                                <li>November 03, 2016</li>
                                <li><a href="single.html"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!---728x90--->
                <div class="all-comments-info">
                    <h5>LEAVE A COMMENT</h5>
                    <div class="agile-info-wthree-box">
                        <form>
                            <div class="col-md-6 form-info">
                                <input type="text" name="name" placeholder="Your Name" required="">
                                <input type="email" name="email" placeholder="Your Email" required="">
                                <input type="text" name="phone" placeholder="Your Phone" required="">
                            </div>
                            <div class="col-md-6 form-info">

                                <textarea placeholder="Message" required=""></textarea>
                                <input type="submit" value="SEND">
                            </div>
                            <div class="clearfix"> </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 latest-news-agile-right-content">
                <h4 class="side-t-w3l-agile">For Latest <span>Movies</span></h4>
                <div class="side-bar-form">
                    <form action="#" method="post">
                        <input type="search" name="email" placeholder="Search here...." required="required">
                        <input type="submit" value=" ">
                    </form>
                </div>
                <h4 class="side-t-w3l-agile">
                    Hot <span>Topics</span>
                </h4>
                <ul class="side-bar-agile">
                    <li><a href="single.html">John Abraham, Sonakshi Sinha and Tahir ...</a><p>Sep 29, 2016</p></li>
                    <li><a href="single.html">Romantic drama about two people finding out that love</a><p>Feb 3, 2016</p></li>
                    <li><a href="single.html">Storks have moved on from delivering babies to packages ...</a><p>Aug 1, 2016</p></li>
                    <li><a href="single.html">John Abraham, Sonakshi Sinha and Tahir ...</a><p>Sep 29, 2016</p></li>
                    <li><a href="single.html">John Abraham, Sonakshi Sinha and Tahir ...</a><p>Sep 29, 2016</p></li>
                </ul>
                <h4 class="side-t-w3l-agile">
                    Latest <span>Trailer</span>
                </h4>
                <div class="video_agile_player sidebar-player">
                    <div class="video-grid-single-page-agileits">
                        <div data-video="fNKUgX8PhMA" id="video1"> <img src="images/22.jpg" alt="" class="img-responsive"> <div id="play"></div></div>
                    </div>


                    <div class="player-text side-bar-info">
                        <p class="fexi_header">Me Before You </p>
                        <p class="fexi_header_para">
                            <span class="conjuring_w3">Story Line<label>:</label></span>Me Before You Official Trailer #2 (2016) - Emilia Clarke, Sam Claflin Movie HD

                            A girl in a small town forms an unlikely....
                        </p>
                        <p class="fexi_header_para"><span>Release On<label>:</label></span>Feb 3, 2016 </p>
                        <p class="fexi_header_para">
                            <span>Genres<label>:</label> </span>
                            <a href="genre.html">Drama</a> |
                            <a href="genre.html">Adventure</a> |
                            <a href="genre.html">Family</a>
                        </p>
                        <p class="fexi_header_para fexi_header_para1">
                            <span>Star Rating<label>:</label></span>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                        </p>
                    </div>

                </div>
                <div class="clearfix"> </div>
                <div class="agile-info-recent">
                    <h4 class="side-t-w3l-agile">Latest <span>Trailer</span></h4>
                    <div class="w3ls-recent-grids">
                        <div class="w3l-recent-grid">
                            <div class="wom">
                                <a href="single.html"><img src="images/m12.jpg" alt=" " class="img-responsive"></a>
                            </div>
                            <div class="wom-right">
                                <h5><a href="single.html">Lorem Integer rutrum</a></h5>
                                <p>
                                    Mauris fermentum dictum magna. Sed laoreet aliquam leo.
                                    Ut tellus dolor, dapibus eget.
                                </p>
                                <ul class="w3l-sider-list">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Jan 12, 2016</li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i> 2602</li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3l-recent-grid">
                            <div class="wom">
                                <a href="single.html"><img src="images/m13.jpg" alt=" " class="img-responsive"></a>
                            </div>
                            <div class="wom-right">
                                <h5><a href="single.html">Lorem Integer rutrum</a></h5>
                                <p>
                                    Mauris fermentum dictum magna. Sed laoreet aliquam leo.
                                    Ut tellus dolor, dapibus eget.
                                </p>
                                <ul class="w3l-sider-list">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Mar 3, 2016</li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i> 2742</li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3l-recent-grid">
                            <div class="wom">
                                <a href="single.html"><img src="images/m14.jpg" alt=" " class="img-responsive"></a>
                            </div>
                            <div class="wom-right">
                                <h5><a href="single.html">Lorem Integer rutrum</a></h5>
                                <p>
                                    Mauris fermentum dictum magna. Sed laoreet aliquam leo.
                                    Ut tellus dolor, dapibus eget.
                                </p>
                                <ul class="w3l-sider-list">
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>On Oct 13, 2016</li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i> 2802</li>
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(".rating-enabled").starRating({
           starSize: 25,
           initialRating: @getMovieRating,
           disableAfterRate: false,
    callback: function(currentRating, $el){
        // make a server call here
            $(this).click(function () {
                var rate = currentRating;
                var movieId = @Model.Id;
                var data = { movieId: movieId, rate: currentRating };
                $.ajax({
                    type: "POST",
                    url: "/api/Ratings",
                    data: JSON.stringify(data),
                    success: function (data) {
                        $('#averageRating').html(data.averageRating.toFixed(2));
                    },
                    contentType: 'application/json',
                })
            })
    }
});
    </script>

    <script>
        $(".rating-disabled").starRating({
           starSize: 25,
           initialRating: @Model.Rating,
           readOnly: true,
        });
    </script>

    <script>
        function AddReadMore() {
            //This limit you can set after how much characters you want to show Read More.
            var charLmt = 600;
            // Text to show when text is collapsed
            var readMoreTxt = " ... Read More";
            // Text to show when text is expanded
            var readLessTxt = " Read Less";


            //Traverse all selectors with this class and manupulate HTML part to show Read More
            $(".addReadMore").each(function () {
                if ($(this).find(".firstSec").length)
                    return;

                var allstr = $(this).text();
                if (allstr.length > charLmt) {
                    var firstSet = allstr.substring(0, charLmt);
                    var secdHalf = allstr.substring(charLmt, allstr.length);
                    var strtoadd = "<b>Overview: </b>" + firstSet + "<span id='text_readmore' class='SecSec'>" + secdHalf + "</span><span class='readMore'  title='Click to Show More'>" + readMoreTxt + "</span><span class='readLess' title='Click to Show Less'>" + readLessTxt + "</span>";
                    $(this).html(strtoadd);
                }

            });
            //Read More and Read Less Click Event binding
            $(document).on("click", ".readMore,.readLess", function () {
                $(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
            });
        }
        $(function () {
            //Calling function after Page Load
            AddReadMore();
        });
    </script>
}
