@using CineMagic.Web.ViewModels.Movies
@model HomePageViewModelsList
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <!--/agileinfo_tabs-->
        <div class="agileinfo_tabs">
            <!---728x90--->
            <!--/tab-section-->
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Recent</li>
                    <li>Popularity</li>
                    <li>Top Rating </li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab1">
                        <div class="tab_movies_agileinfo">
                            <div class="w3_agile_featured_movies">
                                @foreach (var movie in Model.MostRecentMovie)
                                {
                                    <div class="col-md-5 video_agile_player">
                                        <div class="video-grid-single-page-agileits">
                                            <div data-video="@movie.TrailerPath" id="video"> <img src="@movie.PosterPath" style="height:550px;" class="img-responsive" /></div>
                                        </div>
                                        <div class="player-text">
                                            <p class="fexi_header">@movie.Title</p>
                                            <p class="fexi_header_para">
                                                <span class="conjuring_w3">Story Line<label>:</label></span>@movie.Overview
                                            </p>
                                            <p class="fexi_header_para"><span>Release On<label>:</label></span>@movie.ReleaseDate.ToString("MMM d, yyyy")</p>
                                            <p class="fexi_header_para">
                                                <span>Genres<label>:</label> </span>
                                                @foreach (var genre in movie.Genres)
                                                {
                                                    <text>| </text><a asp-controller="Genres" asp-action="ByName" asp-route-name="@genre.GenreName">@genre.GenreName</a>
                                                }
                                            </p>
                                            <p class="fexi_header_para fexi_header_para1">
                                                <span>Star Rating<label>:</label></span>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-7 wthree_agile-movies_list">
                                    @foreach (var movie in Model.RecentMovies)
                                    {
                                        <div class="w3l-movie-gride-agile">
                                            <a href="single.html" class="hvr-sweep-to-bottom">
                                                <img src="@movie.PosterPath" title="@movie.Title" class="img-responsive">
                                                <div class="w3l-action-icon"></div>
                                            </a>
                                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                <div class="w3l-movie-text" style="height:45px;">
                                                    <h6><a href="single.html">@movie.Title</a></h6>
                                                </div>
                                                <div class="mid-2 agile_mid_2_home">
                                                    <p>@movie.ReleaseDate.Year</p>
                                                    <div class="block-stars">
                                                        <ul class="w3l-ratings">
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="ribben">
                                                <p>NEW</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="cleafix"></div>
                        </div>
                    </div>
                    <div class="tab2">
                        <div class="tab_movies_agileinfo">
                            <div class="w3_agile_featured_movies">
                                @foreach (var movie in Model.MostPopularMovie)
                                {
                                    <div class="col-md-5 video_agile_player">
                                        <div class="video-grid-single-page-agileits">
                                            <div data-video="@movie.TrailerPath" id="video"> <img src="@movie.PosterPath" style="height:550px;" class="img-responsive" /></div>
                                        </div>
                                        <div class="player-text">
                                            <p class="fexi_header">@movie.Title</p>
                                            <p class="fexi_header_para">
                                                <span class="conjuring_w3">Story Line<label>:</label></span>@movie.Overview
                                            </p>
                                            <p class="fexi_header_para"><span>Release On<label>:</label></span>@movie.ReleaseDate.ToString("MMM d, yyyy")</p>
                                            <p class="fexi_header_para">
                                                <span>Genres<label>:</label> </span>
                                                @foreach (var genre in movie.Genres)
                                                {
                                                    <text>| </text> <a asp-controller="Genres" asp-action="ByName" asp-route-name="@genre.GenreName">@genre.GenreName</a>
                                                }
                                            </p>
                                            <p class="fexi_header_para fexi_header_para1">
                                                <span>Star Rating<label>:</label></span>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-7 wthree_agile-movies_list">
                                    @foreach (var movie in Model.PopularMovies)
                                    {
                                        <div class="w3l-movie-gride-agile">
                                            <a href="single.html" class="hvr-sweep-to-bottom">
                                                <img src="@movie.PosterPath" title="@movie.Title" class="img-responsive">
                                                <div class="w3l-action-icon"></div>
                                            </a>
                                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                <div class="w3l-movie-text" style="height:45px;">
                                                    <h6><a href="single.html">@movie.Title</a></h6>
                                                </div>
                                                <div class="mid-2 agile_mid_2_home">
                                                    <p>@movie.ReleaseDate.Year</p>
                                                    <div class="block-stars">
                                                        <ul class="w3l-ratings">
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="ribben">
                                                <p>NEW</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="cleafix"></div>
                        </div>
                    </div>
                    <div class="tab3">
                        <div class="tab_movies_agileinfo">
                            <div class="w3_agile_featured_movies">
                                @foreach (var movie in Model.BestRatedMovie)
                                {
                                    <div class="col-md-5 video_agile_player">
                                        <div class="video-grid-single-page-agileits">
                                            <div data-video="@movie.TrailerPath" id="video"> <img src="@movie.PosterPath" style="height:550px;" class="img-responsive" /></div>
                                        </div>
                                        <div class="player-text">
                                            <p class="fexi_header">@movie.Title</p>
                                            <p class="fexi_header_para">
                                                <span class="conjuring_w3">Story Line<label>:</label></span>@movie.Overview
                                            </p>
                                            <p class="fexi_header_para"><span>Release On<label>:</label></span>@movie.ReleaseDate.ToString("MMM d, yyyy")</p>
                                            <p class="fexi_header_para">
                                                <span>Genres<label>:</label> </span>
                                                @foreach (var genre in movie.Genres)
                                                {
                                                    <text>| </text> <a asp-controller="Genres" asp-action="ByName" asp-route-name="@genre.GenreName">@genre.GenreName</a>
                                                }
                                            </p>
                                            <p class="fexi_header_para fexi_header_para1">
                                                <span>Star Rating<label>:</label></span>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-7 wthree_agile-movies_list">
                                    @foreach (var movie in Model.TopRatedMovies)
                                    {
                                        <div class="w3l-movie-gride-agile">
                                            <a href="single.html" class="hvr-sweep-to-bottom">
                                                <img src="@movie.PosterPath" title="@movie.Title" class="img-responsive">
                                                <div class="w3l-action-icon"></div>
                                            </a>
                                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                                <div class="w3l-movie-text" style="height:45px;">
                                                    <h6><a href="single.html">@movie.Title</a></h6>
                                                </div>
                                                <div class="mid-2 agile_mid_2_home">
                                                    <p>@movie.ReleaseDate.Year</p>
                                                    <div class="block-stars">
                                                        <ul class="w3l-ratings">
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                            <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="ribben">
                                                <p>NEW</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="cleafix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="agile_w3_title"> Latest <span>Movies</span></h3>
        <!--/movies-->
        <div class="w3_agile_latest_movies">
            <div id="owl-demo" class="owl-carousel owl-theme">
                @foreach (var movie in Model.LatestMovies)
                {
                    <div class="item">
                        <div class="w3l-movie-gride-agile w3l-movie-gride-slider ">
                            <a href="single.html" class="hvr-sweep-to-bottom">
                                <img src="@movie.PosterPath" title="@movie.Title" class="img-responsive" />
                                <div class="w3l-action-icon"></div>
                            </a>
                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                <div class="w3l-movie-text" style="height:45px;">
                                    <h6><a href="single.html">@movie.Title</a></h6>
                                </div>
                                <div class="mid-2 agile_mid_2_home">
                                    <p>@movie.ReleaseDate.Year</p>
                                    <div class="block-stars">
                                        <ul class="w3l-ratings">
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="ribben one">
                                <p>NEW</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <h3 class="agile_w3_title">From Your <span>Watchlist</span> </h3>
        <!--/from-watchlist-->
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="wthree_agile-requested-movies">
                @foreach (var movie in Model.Watchlist)
                {
                    <div class="col-md-2 w3l-movie-gride-agile requested-movies">
                        <a href="single.html" class="hvr-sweep-to-bottom">
                            <img src="@movie.PosterPath" title="@movie.Title" class="img-responsive">
                            <div class="w3l-action-icon"></div>
                        </a>
                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                            <div class="w3l-movie-text">
                                <h6><a href="single.html">@movie.Title</a></h6>
                            </div>
                            <div class="mid-2 agile_mid_2_home">
                                <p>@movie.ReleaseDate.Year</p>
                                <div class="block-stars">
                                    <ul class="w3l-ratings">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="ribben one">
                            <p>NEW</p>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        }
        else
        {
            <div class="text-center">Login to access your Watchlist</div>
            <div class="text-center" style="padding-bottom:10px;">Save movies to keep track of what you want to watch.</div>
            <div class="text-center">
                <a href="#" class="login" style="margin-left:0px" ; data-toggle="modal" data-target="#myModal4">Login</a>
            </div>
        }
        <!--//from-watchlist-->
    </div>
</div>
