@using CineMagic.Web.ViewModels.Languages
@model PaginatedList<LanguageSimpleViewModel>

@{
    this.ViewData["Title"] = "All Languages";
    this.ViewData["ActivePage"] = LanguageNavPages.Languages;
}

@{
    int counter = 1;

    if (Model.PageNumber > 1)
    {
        counter = Model.PageNumber * 10 - 9;
    }
}

<div class="w3_content_agilleinfo_inner">
    <div class="agile_featured_movies">
        <div class="inner-agile-w3l-part-head">
            <h3 class="w3l-inner-h-title">@this.ViewData["Title"]</h3>
        </div>
        <div class="w3ls-news-result">
            <h4>Results Returned: <span>@Model.Count</span></h4>
        </div>

        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                <div class="agile-news-table">
                    <table id="table-breakpoint">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var language in Model)
                            {
                                <tr>
                                    <td>@counter</td>
                                    <td>@language.Name</td>
                                    <td>
                                        <form asp-action="Edit" asp-route-id="@language.Id" method="get">
                                            <button type="submit" class="badge-warning">Edit</button>
                                        </form>
                                    </td>
                                </tr>

                                counter++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.TotalPages > 1)
{
    <div class="blog-pagenat-wthree">
        <ul class="pagination">
            <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-area="Administration" asp-controller="Languages" asp-action="GetAll">First</a>
            </li>
            <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-area="Administration" asp-controller="Languages" asp-action="GetAll" asp-route-page="@Model.PreviousPage">Previous</a>
            </li>
            @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item">
                        <a class="page-link" asp-area="Administration" asp-controller="Languages" asp-action="GetAll" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
            {
                if (i <= Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-area="Administration" asp-controller="Languages" asp-action="GetAll" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            <li class="page-item @if (!Model.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-area="Administration" asp-controller="Languages" asp-action="GetAll" asp-route-page="@Model.NextPage">Next</a>
            </li>
            <li class="page-item @if (!Model.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-area="Administration" asp-controller="Languages" asp-action="GetAll" asp-route-page="@Model.TotalPages">Last</a>
            </li>
        </ul>
    </div>
}